
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 163.7rem;
}.macbook-pro-16-1-myF {
  box-sizing: border-box;
  padding: 5.4rem 0rem 0rem 0.1rem;
  position: relative;
  background-color: #ffffff;

  .rectangle-4-KNV {
    width: 100%;
    height: 68.5rem;
    background-color: rgba(0, 45, 23, 0.1400000006);
  }
  .rectangle-3-z7F {
    background-color: #cecece;
    width: 163.7rem;
    height: 12.4rem;
    position: absolute;
    left: 0;
    top: 20.5rem;
  }
  .rectangle-2-7Bs {
    position: absolute;
    left: 0;
    top: 12.7rem;
    box-shadow: 0 0.9rem 1.13rem rgba(0, 0, 0, 0.25);
    background-color: #c8c8c8;
    width: 163.7rem;
    height: 8.3rem;
  }
  .rectangle-6-DVo {
    width: 12.7rem;
    height: 5.1rem;
    position: absolute;
    left: 3rem;
    top: 14.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #389378;
    border-radius: 1.6rem;
  }
  .turn-on-Wzh {
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    color: #053b2b;
    white-space: nowrap;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 7.5rem;
    left: 3.8rem;
    top: 15.6rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .rectangle-12-ZCH {
    width: 3.24rem;
    height: 1.8rem;
    position: absolute;
    left: 11.9rem;
    top: 16rem;
    background-color: #2c715c;
    border-radius: 0.8rem;
  }
  .ellipse-1-tEZ {
    left: 13.6rem;
    top: 16.3rem;
    background-color: #053b2b;
    border-radius: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
  }
  .rectangle-10-QTo {
    left: 87.3rem;
    top: 40.8rem;
    box-shadow: 0 0.7rem 0.66rem rgba(0, 0, 0, 0.25);
    background-color: #bbc0bf;
    border-radius: 3.4rem;
    width: 62.1rem;
    height: 49.6rem;
    position: absolute;
  }
  .massa-iUV {
    width: 9.6rem;
    height: 5.7rem;
    left: 91.8rem;
    top: 42.8rem;
    font-size: 3.6rem;
    line-height: 1.5675;
    font-family: Lalezar, 'Source Sans Pro';
    position: absolute;
    font-weight: 400;
    color: #393636;
    white-space: nowrap;
  }
  .sampah-d5f {
    position: absolute;
    left: 91.7rem;
    line-height: 1.5675;
    font-family: Lalezar, 'Source Sans Pro';
    white-space: nowrap;
    color: #393636;
    width: 12.3rem;
    height: 5.7rem;
    top: 45.5rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .kilogram-jPb {
    font-size: 3.6rem;
    line-height: 1.5675;
    color: #393636;
    white-space: nowrap;
    position: absolute;
    top: 82.5rem;
    left: 109.6rem;
    font-weight: 400;
    font-family: Lalezar, 'Source Sans Pro';
    width: 18.3rem;
    height: 5.7rem;
  }
  .rectangle-11-qxR {
    position: absolute;
    left: 14.5rem;
    top: 40.9rem;
    box-shadow: 0 0.7rem 0.66rem rgba(0, 0, 0, 0.25);
    background-color: #bac0be;
    border-radius: 3.4rem;
    width: 62.1rem;
    height: 49.6rem;
  }
  .volume-viy {
    white-space: nowrap;
    width: 12.5rem;
    position: absolute;
    top: 42.8rem;
    font-weight: 400;
    font-family: Lalezar, 'Source Sans Pro';
    height: 5.7rem;
    left: 17.8rem;
    font-size: 3.6rem;
    line-height: 1.5675;
    color: #393636;
  }
  .sampah-EzZ {
    position: absolute;
    line-height: 1.5675;
    font-family: Lalezar, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 400;
    color: #393636;
    width: 12.3rem;
    height: 5.7rem;
    left: 17.8rem;
    top: 46.2rem;
    font-size: 3.6rem;
  }
  .sedikit-penuh-Z1F {
    font-size: 3.6rem;
    font-weight: 400;
    color: #393636;
    font-family: Lalezar, 'Source Sans Pro';
    width: 22.2rem;
    height: 5.7rem;
    position: absolute;
    top: 83.2rem;
    left: 35.6rem;
    line-height: 1.5675;
    white-space: nowrap;
  }
  .rectangle-1-4ih {
    height: 12.7rem;
    min-width: 163.7rem;
    min-height: 12.7rem;
    position: absolute;
    top: 0;
    object-fit: contain;
    width: 163.7rem;
    max-width: 163.7rem;
    max-height: 12.7rem;
    left: 0;
    vertical-align: top;
  }
  .unit-storages-B2d {
    white-space: nowrap;
    position: absolute;
    left: 63.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    cursor: pointer;
    top: 5.4rem;
  }
  .alert-J7F {
    width: 5.5rem;
    height: 3rem;
    left: 87.1rem;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .setting-iRs {
    font-weight: 400;
    color: #ffffff;
    width: 8.2rem;
    cursor: pointer;
    position: absolute;
    left: 100.8rem;
    top: 5.4rem;
    font-size: 2.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 3rem;
    white-space: nowrap;
  }
  .rectangle-5-2SZ {
    left: 132.4rem;
    top: 4.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #0e7959;
    border-radius: 1.7rem;
    width: 25.4rem;
    height: 5.4rem;
    position: absolute;
  }
  .nayla-fitia-KwT {
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    left: 140.8rem;
    top: 5.8rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 8.6rem;
    height: 2.2rem;
    font-size: 1.8rem;
  }
  .polygon-2-eD3 {
    cursor: pointer;
    position: absolute;
    left: 152.5rem;
    top: 6.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.2008rem;
    height: 1.5135rem;
  }
  .rectangle-7-Neq {
    top: 2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #063e2e;
    border-radius: 1.2rem;
    width: 27.5rem;
    height: 7.6rem;
    position: absolute;
    left: 3rem;
  }
  .simtesa-logo-putih-1-6aq {
    height: 4.8rem;
    position: absolute;
    left: 7.6rem;
    top: 3.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 17.7rem;
  }
  .location-Rd7 {
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-8-MWm {
    width: 13.8rem;
    height: 0.6rem;
    position: absolute;
    left: 43.2rem;
    top: 12.1rem;
    background-color: #2dbe93;
  }
}
