    body {
        width: 100%;
    }
    /* nav */
    
    .container .rectangle-1 {
        width: 123.5rem;
        height: 5.7rem;
        position: absolute;
        left: 0;
        top: 0;
        /* object-fit: contain; */
        /* vertical-align: top; */
        background-color: #033828;
    }
    
    @media screen and (min-width: 1200px) {
        .container .rectangle-1 {
            width: 100%;
        }
    }
    
    .container .location {
        cursor: pointer;
        position: absolute;
        left: 33.3rem;
        top: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container .unit-storages {
        cursor: pointer;
        position: absolute;
        left: 44.4rem;
        top: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container .alert {
        left: 57rem;
        top: 0.5rem;
        cursor: pointer;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container .alarm {
        width: 2.2008rem;
        height: 1.5135rem;
        position: absolute;
        left: 62.5rem;
        top: 2.2rem;
        object-fit: contain;
        vertical-align: top;
    }
    
    .container .setting {
        width: 8.2rem;
        height: 3rem;
        cursor: pointer;
        position: absolute;
        left: 69.8rem;
        top: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container .rectangle-5 {
        width: 18rem;
        height: 4rem;
        position: absolute;
        left: 100rem;
        top: 1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #0e7959;
        border-radius: 1.7rem;
    }
    
    .male-user {
        width: 2.5rem;
        height: 3.5rem;
        cursor: pointer;
        position: absolute;
        left: 102rem;
        top: 1rem;
        object-fit: contain;
        vertical-align: top;
    }
    
    .container .nayla-fitia {
        width: 8.6rem;
        height: 2.2rem;
        position: absolute;
        left: 106rem;
        top: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container .polygon-2 {
        width: 2rem;
        height: 1rem;
        cursor: pointer;
        position: absolute;
        left: 113rem;
        top: 2.2rem;
        object-fit: contain;
        vertical-align: top;
    }
    
    .container .rectangle-7 {
        width: 18rem;
        height: 3.5rem;
        position: absolute;
        left: 3rem;
        top: 1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #063e2e;
        border-radius: 1.2rem;
    }
    
    .container .simtesa-logo-putih {
        width: 17.7rem;
        height: 4.8rem;
        position: absolute;
        left: 7rem;
        top: 1.5rem;
        object-fit: cover;
        vertical-align: top;
    }
    
    .container .rectangle-3 {
        width: 123.5rem;
        height: 10.4rem;
        position: absolute;
        left: 0rem;
        top: 6.5rem;
        background-color: #cecece;
    }
    
    @media screen and (min-width: 1200px) {
        .container .rectangle-3 {
            width: 100%;
        }
    }
    
    .container .rectangle-2 {
        width: 123.5rem;
        height: 4.3rem;
        position: absolute;
        left: 0rem;
        top: 5.7rem;
        box-shadow: 0 0.9rem 1.13rem rgba(0, 0, 0, 0.25);
        background-color: #c8c8c8;
    }
    
    @media screen and (min-width: 1200px) {
        .container .rectangle-2 {
            width: 100%;
        }
    }
    
    .container .rectangle-6 {
        width: 9.7rem;
        height: 3.5rem;
        position: absolute;
        left: 3rem;
        top: 6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #389378;
        border-radius: 1.6rem;
    }
    
    .container .turn-on {
        width: 7.5rem;
        height: 2.5rem;
        cursor: pointer;
        position: absolute;
        left: 5rem;
        top: 6.9rem;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #053b2b;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
    }
    /* end nav */
    /* massa sampah */
    
    .container1 .rectangle-10 {
        width: 42.1rem;
        height: 29.6rem;
        position: absolute;
        left: 67.3rem;
        top: 25rem;
        box-shadow: 0 0.7rem 0.66rem rgba(0, 0, 0, 0.25);
        background-color: #bbc0bf;
        border-radius: 3.4rem;
    }
    
    .gauge {
        width: 100%;
        max-width: 250px;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        color: #004033;
        left: 70rem;
        transform: translateY(70%);
    }
    
    .gauge__body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #666f6e;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
        transform: translateX(37%);
    }
    
    .gauge__fill {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: #063e2e;
        transform-origin: center top;
        transform: rotate(0.25turn);
        transition: transform 0.2s ease-out;
    }
    
    .gauge__cover {
        width: 75%;
        height: 150%;
        background: #bac0be;
        border-radius: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        /* Text */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25%;
        box-sizing: border-box;
    }
    
    .empatpuluh {
        background: #ffffff;
        font-family: Lalezar, 'Source Sans Pro';
    }
    
    .container1 .massa {
        width: 9.6rem;
        height: 5.7rem;
        position: absolute;
        left: 71.8rem;
        top: 25rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container1 .sampah2 {
        width: 12.3rem;
        height: 5.7rem;
        position: absolute;
        left: 71.8rem;
        top: 27rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container1 .kilogram {
        width: 18.3rem;
        height: 5.7rem;
        position: absolute;
        left: 84rem;
        top: 50rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    /* end massa sampah */
    /* volume sampah */
    
    .container1 .rectangle-11 {
        width: 42.1rem;
        height: 29.6rem;
        position: absolute;
        left: 14.5rem;
        top: 25rem;
        box-shadow: 0 0.7rem 0.66rem rgba(0, 0, 0, 0.25);
        background-color: #bac0be;
        border-radius: 3.4rem;
    }
    
    .container1 .volume {
        width: 12.5rem;
        height: 5.7rem;
        position: absolute;
        left: 17.8rem;
        top: 25rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container1 .sampah {
        width: 12.3rem;
        height: 5.7rem;
        position: absolute;
        left: 17.8rem;
        top: 27rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container1 .tinggi-sampah {
        width: 22.2rem;
        height: 5.7rem;
        position: absolute;
        left: 27rem;
        top: 52rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #393636;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
    }
    
    .container1 .pegangan2 {
        width: 3rem;
        height: 1.2rem;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        top: 3px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #bac0be;
    }
    
    .container1 .pegangan {
        border-style: solid;
        width: 5rem;
        height: 2.8rem;
        left: 36rem;
        top: 28rem;
        transform: translate(-50%);
        position: absolute;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #393636;
    }
    
    .container1 .penutup {
        border-style: solid;
        width: 19rem;
        height: 2.8rem;
        left: 36rem;
        top: 29.1rem;
        transform: translate(-50%);
        position: absolute;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: #393636;
    }
    
    .container1 .tempat-sampah {
        border-style: solid;
        width: 19rem;
        height: 20rem;
        left: 36rem;
        top: 32rem;
        transform: translate(-50%);
        position: absolute;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .container1 .volume-sampah {
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        bottom: 0px;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        background-color: #063e2e;
        box-shadow: 0 0.44rem 0.88rem rgba(0, 0, 0, 0.25);
    }
    /* end volume sampah */